fastapi
uvicorn
sqlalchemy
pydantic
langchain
langchain-community
langchain-chroma
chromadb
sentence-transformers
pypdf
python-docx
tiktoken
rank_bm25
langgraph
langchain-groq
python-dotenv

alembic
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
pytest
httpx

langgraph-checkpoint-sqlite

email-validator

bcrypt<4.0.0
